.grid {
    margin: 10rem auto;
    display: -ms-grid;
    display: grid;
    grid-gap: 1.5rem;
    color: $dark_blue;
    grid-template-columns: repeat(3, 1fr);

    @include breakpoint-down(medium) {
        grid-template-columns: 1fr;
        margin: 1rem;
    }
    .text {
        margin: 1rem 3rem;
        grid-column: 1/-3;
        @include breakpoint-down(medium) {
            grid-column-start: 1;
            grid-column-end: -1;
            text-align: center;
            margin: 2rem;
        }
    }
    .reviews {
        grid-column-start: 3;
        grid-gap: inherit;
        @include breakpoint-down(medium) {
            margin: 2rem;
            grid-column-start: 1;
            grid-column-end: -1;
        }
        .star {
            @include indent(1, 4, left);
            grid-column: 3/-1;
            align-self: center;
            font-size: $font-sm;
            background-color: $grayish_blue;
            padding: 1rem;
            border-radius: 0.5rem;
            grid-column-start: 3;
            @include breakpoint-down(medium) {
                margin-left: 0 !important;
            }
            input {
                display: none;
            }
            &__wrap {
                font-size: $font-sm;
                &__rating {
                    font-size: $font-sm;
                    overflow: hidden;
                }
                &__rating input {
                    float: right;
                    opacity: 0;
                    position: absolute;
                    display: none;
                }
                &__rating a,
                &__rating label {
                    float: right;
                    text-decoration: none;
                    -webkit-transition: color 0.4s;
                    -moz-transition: color 0.4s;
                    -o-transition: color 0.4s;
                    transition: color 0.4s;
                }
                &__rating label:hover ~ label,
                &__rating input:focus ~ label,
                &__rating label:hover,
                &__rating a:hover,
                &__rating a:hover ~ a,
                &__rating a:focus,
                &__rating a:focus ~ a {
                    color: orange;
                    cursor: pointer;
                }
                &rating2 {
                    direction: rtl;
                }
                &rating2 a {
                    float: none;
                }
            }
        }
    }

    .box {
        @include indent(3, 6, top);
        place-self: center;
        color: $white;
        background-color: $dark_blue;
        border-radius: 0.5rem;
        width: 80%;
        height: 80%;
        justify-self: center;
        @include breakpoint-down(medium) {
            margin-top: 0 !important;
            grid-column-start: 1;
            grid-column-end: -1;
        }
        img {
            border-radius: 5rem;
            margin: 1rem;
            height: 2rem;
        }
        &__text {
            margin-top: 2rem;
            margin-left: -4em;
            padding-bottom: 5rem;
        }
    }
}
