.grid {
	margin: 10rem;
	display: -ms-grid;
	display: grid;
	grid-gap: 1.5rem;
	color: $dark_blue;
	grid-template-columns: repeat(3, 1fr);
	height: 100vh;
	@include breakpoint-down(medium) {
		grid-template-columns: 1fr;
		margin: 1rem;
	}
	.text {
		grid-column: 1/-3;
		@include breakpoint-down(medium) {
			grid-column-start: 1;
			grid-column-end: -1;
		}
	}
	.reviews {
		grid-column-start: 3;
		grid-gap: inherit;
		@include breakpoint-down(medium) {
			grid-column-start: 1;
			grid-column-end: -1;
		}
		.star {
			grid-column: 3/-1;
			margin-left: -10rem;
			align-self: center;
			font-size: $font-sm;
			background-color: $grayish_blue;
			padding: 1em;
			border-radius: 0.5rem;
			grid-column-start: 3;
			@include breakpoint-down(medium) {
				margin-left: 0;
			}
			input {
				display: none;
			}
			&__wrap {
				font-size: $font-sm;
				&__rating {
					font-size: $font-sm;
					overflow: hidden;
				}
				&__rating input {
					float: right;
					opacity: 0;
					position: absolute;
					display: none;
				}
				&__rating a,
				&__rating label {
					float: right;
					text-decoration: none;
					-webkit-transition: color .4s;
					-moz-transition: color .4s;
					-o-transition: color .4s;
					transition: color .4s;
				}
				&__rating label:hover~label,
				&__rating input:focus~label,
				&__rating label:hover,
				&__rating a:hover,
				&__rating a:hover~a,
				&__rating a:focus,
				&__rating a:focus~a {
					color: orange;
					cursor: pointer;
				}
				&rating2 {
					direction: rtl;
				}
				&rating2 a {
					float: none
				}
			}
		}
	}
	.box {
		@include breakpoint-down(medium) {
			grid-column-start: 1;
			grid-column-end: -1;
		}
		place-self: center;
		color: $white;
		background-color: $dark_blue;
		border-radius: 0.5rem;
		width: 80%;
		height: 80%;
		justify-self: center;
		img {
			border-radius: 5rem;
			margin: 1rem;
			height: 2rem;
		}
		&__text {
			margin-top: 2rem;
			margin-left: -4em;
			padding-bottom: 5rem;
		}
	}
}

