footer {
	color: $dark_gray;
	text-align: center;
	font-size: $font-sm;
	.attribution {
		margin-top: -1rem;
		a {
			text-decoration-line: none;
			&:visited {
				color: $dark_blue;
			}
			&:hover {
				color: $dark_gray;
			}
		}
	}
}

